ul#example-nav
  li
    a(ui-sref="login") login

    a(ui-sref="registration") registration

    a(ui-sref="forgot") forgot

    a(ui-sref="reset") reset

    a(ui-sref="ACCOUNT_INFO") Account Info

    a(ui-sref="PERSONAL_INFO") Personal Info

    a(ui-sref="ACCOUNT_PAGE") Account Page

    a(ui-sref="SSO_LOGIN") SSO Login

    a(ui-sref="SSO_CALLBACK") SSO Callback
