@import "work-includes";
@import "variables";

login-reg-shell {
  display   : block;
  width     : 600px;
  text-align: center;

  p.error {
    max-height : 40px;
    overflow   : hidden;
    padding-top: 20px;

    &.hide {
      padding-top: 0px;
      max-height: 0;
    }
  }

  main {
    background-color: $white;
    padding: $vertical-big;

    > p {
      font-size    : $font-size-big;
      font-weight  : $font-weight;
      line-height  : 21px
    }
  }

  header {
    height: 67px;
    background-color: $black;
  }

  footer {
    margin-top: $vertical;
  }

  form {
    width: 380px;
    margin-left : auto;
    margin-right: auto;
    margin-top: 10px;

    input, button {
      margin-top: 15px;
    }
  }
}
