@import "work-includes";
@import "variables";

login {
  display: block;
  text-align: center;

  .forgot {
    width     : 380px;
    text-align: left;
    margin-top: $vertical-small;

    a {
      text-decoration: underline;
    }
  }
}
