@import "work-includes";

login {
  display: block;
  text-align: center;

  form {
    margin-top: $margin-small;

    input, button {
      margin-top: $margin-small;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
