@import "work-includes";

registration {
  display: block;

  .first-name, .last-name {
    width: 50%;
    float: left;
  }

  .first-name {
    padding-right: $padding-smallest;

    input {
      margin-top: 0px;
    }
  }

  .last-name {
    padding-left: $padding-smallest;

    input {
      margin-top: 0px;
    }
  }

  .organization {
    clear: both;
    padding: 1px;
  }

  hr {
    margin-top: $margin;
  }

  form {
    margin-top: $margin;
    text-align: center;

    input, button {
      margin-top: $margin-small;
    }
  }
}
