p.success Thanks, we've emailed you a reset link. Please check your inbox. If you still need help, please contact us at support@topcoder.com

form(ng-submit="vm.submit()" method="post")
  input.widest(type="text" ng-model="vm.email" required=true placeholder="email" autofocus=true)

  button.action(type="submit") send reset link

