form.flex.column.middle(ng-submit="vm.submit()" method="post")
  input.wide(type="text" ng-model="vm.username" required=true placeholder="username")

  input.wide(type="password" ng-model="vm.password" required=true placeholder="password")

  button.action(type="submit") login
