p.error(ng-class="{ invisible: !vm.error }") We can't find an account with the email / password you entered. Please try again.

form.flex.column.middle(ng-submit="vm.submit()" method="post")
  input.widest(type="text" ng-model="vm.username" required=true placeholder="username")

  input.widest(type="password" ng-model="vm.password" required=true placeholder="password")

  .forgot
    a(ui-sref="RESET_PASSWORD") Forgot Password?

  button.action(type="submit") login
