p.success Your password has been updated.

form(ng-submit="vm.submit()" method="post")
  input.widest(type="password" ng-model="vm.email" required=true placeholder="New Password"  autofocus=true)

  button.action(type="submit") reset password

